  <!--
  importar ComponentsModule em alert.modules.ts
  (acho q nao precisa)importar ComponentsModule em app.module.ts
  export do header component em components.module.ts
-->
<app-header titulo= "grid row"></app-header>


<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed>
  <ion-row class="ion-padding">
    <ion-col>col1</ion-col>
    <ion-col>col2</ion-col>
  </ion-row>
  <ion-row class="ion-padding">
    <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
      {{i+1}}
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding">
    <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
      teste, oi oi{{i+1}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let c of [1,1,1]">
      <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
          Awesome content
          Awesome content
          Awesome content
          Awesome content
          Awesome content
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>

  
  <ion-grid fixed>
  <ion-row>
    <ion-col size-md="4" size-sm="6" size-xs="12" *ngFor="let c of [1,1,1]">
      <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
          Awesome content
          Awesome content
          Awesome content
          Awesome content
          Awesome content
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row>
  <ion-col size-md="4" size-sm="6" size-xs="12" *ngFor="let c of [1,1,1]">
    <ion-card>
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
        <ion-card-title>Awesome Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Awesome content
        Awesome content
        Awesome content
        Awesome content
        Awesome content
        Awesome content
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

</ion-content>
