<ion-header>
  <ion-toolbar color="warning">
    <!--botao de voltar-->
    <ion-buttons>
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{lugar.titulo}}</ion-title>
    <!--botao de remover-->
    <ion-buttons slot="end">
      <ion-button (click)="removeLugar()" >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="lugar.imgURL" ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{lugar.titulo}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="lugar.comentarios && lugar.comentarios.length>0; else semComentario">
          <ion-item>
            <ion-label>Mais:</ion-label>
          </ion-item>
          <ion-item *ngFor="let c of lugar.comentarios">
            {{c}}
          </ion-item>
        </ion-list>
        <ng-template #semComentario>
          <h3>Sem mais...</h3>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
