<ion-header>
  <ion-toolbar>
    <ion-title>Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides style="height: 100%;">
    <ion-slide style="background-color:lightcoral">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-img src="assets/img/img1.jpg" ></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1 class="ion-text-center">light coral</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--
      <img src="assets/img/img1.jpg" alt="">
      <ion-img src="assets/img/img1.jpg"></ion-img>
      <h3>light coral</h3>
      -->
    </ion-slide>

    <ion-slide style="background-color:lightgray">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding tamanhoImg">
            <ion-img src="assets/img/img2.jpg" ></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1 class="ion-text-center">light gray</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide style="background-color:limegreen">
      <ion-grid class="ion-no-padding tamanhoImg">
        <ion-row>
          <ion-col class="ion-no-padding tamanhoImg">
            <ion-img src="assets/img/img3.jpg" ></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1 class="ion-text-center">lime green</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
