<ion-header class="ion-no-border">
  <ion-toolbar>

    <!--botao para aparecer menu lateral
    nao precisa mais ficar deslizando, mas
  deslizar ainda funciona tbm-->
    <ion-buttons slot="start">
      <!--opcao 1 de botao para menu-->
      <!--<ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" 
                  name="menu"
                  color="danger"></ion-icon>
      </ion-button>
    -->
      <!--opcao 2 de botao para menu-->
      <ion-menu-button menu="first"
                       color="warning">
      </ion-menu-button>
    
    </ion-buttons>



    <ion-title color="danger">inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list>
    <!--detail deixa  a mostra um indicador de que é
    clicavel, no android, no ios é padrao esse indicador-->
    <ion-item *ngFor="let c of componentes | async" 
              [routerLink]="c.irPara" 
              detail>
      <ion-icon color="danger" slot="start" [name]="c.icon"></ion-icon>
      <ion-label>{{c.nome}}</ion-label>
    </ion-item>
  </ion-list>

  <!--teste de botoes-->
  <!--
  <ion-buttons>
    <ion-button routerLink="/alert" >
      Alert
    </ion-button>
    <ion-button  routerLink="/action-sheet" >
      Action-sheet
    </ion-button>
  </ion-buttons>
  <ion-button routerLink="/alert" >
    Alert
  </ion-button>
  <ion-button  routerLink="/action-sheet" >
    Action-sheet
  </ion-button>
  -->
</ion-content>
