<ion-header>
  <ion-toolbar color='success'>
    <ion-title>lugares</ion-title>
    <!--botao de ir para home-->
    <ion-buttons slot="start">
      <ion-button (click)="irParaHome()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--scroll-->
  <ion-list>
    <!--[routerLink]="['/home']" = ao clicar em qualquer item da lista redireciona para home, neste caso-->
    <ion-item *ngFor="let l of lugares" [routerLink]="['/lugares/', l.id]" >
      <ion-avatar slot="start">
        <ion-img [src]='l.imgURL'></ion-img>
      </ion-avatar>
      {{l.titulo}}
    </ion-item>
  </ion-list>
  <!--botao de adicionar novo item-->
  <ion-fab vertical="bottom" horizontal="center" >
    <ion-fab-button color="danger" (click)="novoLugar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
