<ion-header [translucent]="true">
  <ion-toolbar>
    <!--botao de voltar-->
    <ion-buttons>
      <ion-back-button defaultHref="/lugares"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Olá mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>Segundo app</h3>
  <ion-list>
    <ion-card *ngFor="let f of fotos">
      <img [src]="f.thumbnailUrl" >
      <ion-card-content>
        Título: {{f.title}}
      </ion-card-content>
      <ion-card-content>
        Album: {{f.albumId}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
