<!--
  importar em app.module.ts ComponentsModule
-->

<!--inicio menu-->
  <!--ao deslizar o dedo para a direita 
  o menu lateral aparece-->
  <ion-menu side="start" 
            menuId="first" 
            contentId="main_principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Principal Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <!--ion-menu-toggle> serve para 
        o menu recuar apos
      ser clicado algum item.
    sem este, o menu fica aparecendo-->
        <ion-menu-toggle>
          <!--importar RouterModule em 
          components/components.module.ts-->
          <ion-item *ngFor="let c of componentes | async"
                    [routerLink]="c.irPara" >
            <ion-icon slot="start" [name]="c.icon"></ion-icon>
            <ion-label>{{c.nome}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--fim menu-->
