<!--
  importar em app.module.ts ComponentsModule
-->

<!--inicio menu-->
  <!--ao deslizar o dedo para a direita 
  o menu lateral aparece-->
  <ion-menu side="start" 
            menuId="first" 
            contentId="main_principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Principal Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--fim menu-->
